
#about {
    background: url(../images/hero.png);
        background-image: url(../images/hero.png);
    background: url(../images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;

}

#masthead {
      display: flex;
  align-items: center;
  justify-content: center;

.img {
    max-width: 50%;
}
}


#vanity {
      display: flex;
  align-items: center;
  justify-content: center;

.img {
    max-width: 50%;
}
}