
#about {
    background: url(../images/hero.png);
        background-image: url(../images/hero.png);
    background: url(../images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;

}