<main class="container">
    <header id="masthead">

    </header>

    <div class="row">
        <nav class="column">
            <div class="navbar-inner">
                <ul>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#practice">Practice Areas</a></li>
                    <li><a href="#attorneys">Attorneys</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#careers">Careers</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </div>




    {{!--Begin About Section--}}

    <section id="about">
        <div class="row">
            <div class="column">
                <h2><span>Practice</span> Areas</h2>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <ul>
                    <li>Appellate Advocacy</li>
                    <li>Bankruptcy</li>
                    <li>Civil Rights, Municipal and Constitutional Law</li>
                    <li>Commercial and Business Litigation</li>
                    <li>Construction Litigation and Counseling</li>
                    <li>Commercial Litigation and Counseling</li>
                    <li>General Litigation</li>
                </ul>
            </div>
            <div class="column">
                <div class="column">
                    <ul>
                        <li>Insurance and Reinsurance Litigation and Counseling</li>
                        <li>Mass Tort Litigation</li>
                        <li>Products Liability Litigation</li>
                        <li>Rail, Bus and Other Litigation</li>
                        <li>Construction Litigation and Counseling</li>
                        <li>Toxic Tort Litigation</li>
                        <li>Trial Advocacy</li>
                    </ul>
                </div>
            </div>
        </div>

    </section>



    <section id="article-slider">

    </section>

    <section id="attorneys">
        <div class="row">
            <h2><span>Our</span> Attorneys</h2>
        </div>
        <div class="row">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi aliquam repellat laudantium inventore! Quod dignissimos deleniti, ipsam corrupti modi, magni porro maiores perferendis placeat, saepe similique. Porro, laboriosam. Vitae, reiciendis!
        </div>
        <div id="attorney-slider">

        </div>
    </section>


    <section id="vanity">
        <div class="row">


            <div class="column"></div>
            <div class="column"><img src="../images/logo-dark.png" alt="BKEL Logo"></div>
            <div class="column"></div>
        </div>
    </section>


    <section id="news">
        <div class="row">
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
        </div>
    </section>

    <footer id="footer">
        <div class="row">
            <div class="column">Copywrite</div>
            <div class="column">Some Nav Links</div>
        </div>
    </footer>
</main>