<main>
    <header id="masthead">
        <div class="row">
            <div class="column column-20">
                <img src="../images/logo-dark.png" alt="BKEL Logo Dark">
            </div>
        </div>

    </header>

    <nav class="navigation">
        <section class="row">
            <ul class="navigation-list">
                <li><a href="#about">About Us</a></li>
                <li><a href="#practice">Practice Areas</a></li>
                <li><a href="#attorneys">Attorneys</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#careers">Careers</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </section>
    </nav>

    {{!--Begin About Section--}}

    <section id="about">
        <div class="row">
            <div class="column column-40">
                <h1>Experienced Counsel</h1>
                <h1>Skilled Advocacy</h1>
                <h1><span>Wise Solutions</span></h1>
            </div>

        </div>
        <div class="row">
            <div class="column column-40">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, iure laborum fuga aliquam adipisci tempore, in rerum, ipsum, odio laboriosam dicta eveniet quam aperiam dolor architecto sint vel dignissimos delectus.
            </div>

        </div>
        <div class="row">
            <div class="column column-40">
                <button>Meet Our Attorneys</button>
            </div>
        </div>
    </section>





    <section id="practice">
        <div class="row">
            <div class="column column-60 column-offset-20">
                <h2><span>Practice</span> Areas</h2>
            </div>
        </div>
        <div class="row">
            <div class="column column-60 column-offset-20">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, illum non repudiandae, culpa est eos reiciendis quam magnam commodi nobis, quis totam quibusdam. Totam eligendi ea eveniet quas quisquam culpa.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="column column-30">
                <ul>
                    <li>Appellate Advocacy</li>
                    <li>Bankruptcy</li>
                    <li>Civil Rights, Municipal and Constitutional Law</li>
                    <li>Commercial and Business Litigation</li>
                    <li>Construction Litigation and Counseling</li>
                    <li>Commercial Litigation and Counseling</li>
                    <li>General Litigation</li>
                </ul>
            </div>
            <div class="column column-30" ">
                <div>
                    <ul>
                        <li>Insurance and Reinsurance Litigation and Counseling</li>
                        <li>Mass Tort Litigation</li>
                        <li>Products Liability Litigation</li>
                        <li>Rail, Bus and Other Litigation</li>
                        <li>Construction Litigation and Counseling</li>
                        <li>Toxic Tort Litigation</li>
                        <li>Trial Advocacy</li>
                    </ul>
                </div>
            </div>
        </div>

    </section>



    <section id="article-slider ">

    </section>

    <section id="attorneys ">
        <div class="row ">
            <h2><span>Our</span> Attorneys</h2>
        </div>
        <div class="row ">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi aliquam repellat laudantium inventore! Quod dignissimos deleniti, ipsam corrupti modi, magni porro maiores perferendis placeat, saepe similique. Porro, laboriosam. Vitae, reiciendis!
        </div>
        <div id="attorney-slider ">

        </div>
    </section>


    <section id="vanity ">
        <div class="row ">


            <div class="column "></div>
            <div class="column "><img src="../images/logo-light.png " alt="BKEL Logo Light "></div>
            <div class="column "></div>
        </div>
    </section>


    <section id="news ">
        <div class="row ">
            <div class="column "></div>
            <div class="column "></div>
            <div class="column "></div>
        </div>
    </section>


    <section>
        <div class="row ">
            <div class="column ">
                  <h2 class="nowrap footer-title "><b>Brown Kirkland Ellis &amp; Levinson</b></h2>

                                <p>
                                    <b>
                        We are considered one of the leading transaction and takeover litigation firms in the country, having litigated many of the seminal cases establishing U.S. takeover law.
                    </b>
                                </p>
                                <p>
                                    A tight-knit group of approximately 75 lawyers, we approach each matter with intensity, thoroughness and creativity and build teams appropriate to the circumstances. We make appearances in state and federal courts throughout the country.
                                </p>
            </div>
            <div class="column ">
                <h3 class="footer-title-small "><b>Recent News</b></h3>
                                <hr class="footer-accent ">
                                <article>
                                    <header>
                                        <p class="ylw-accent ">Brown Kirkland Ellis &amp; Levinson negotiate settlement claim on behalf of Bank of America</p>
                                    </header>
                                    <section>
                                        <p> Bank of America in negotiating Bank of America’s $8.5 billion settlement of claims involving more than 500 trusts for mortgage-backed securities issued by Countrywide and in resolving multibillion-dollar claims
                                            arising from the foreclosure crisis with the federal government and 49 state attorneys general.</p>
                                    </section>
                                </article>
                                <button type="button " class="small button ylw-btn ">Read More</button>
            </div>
            <div class="column ">

                            <div class="column ">
                                <h3 class="footer-title-small "><strong>Our Locations</strong></h3>
                                <hr class="footer-accent ">
                                <h4 class="ylw-accent ">New York Office</h4>
                                <address>189 Broadway, new York, New York 10271</address>
                                <h4 class="ylw-accent ">New Jersey Office</h4>
                                <address>20 Gateway Center, New Jersey 07102</address>
                                <h4 class="ylw-accent ">Pennsylvania Office</h4>
                                <address>17 JFK Boulevard, Philadelphia, PA 19103</address>
                            </div>
            </div>
        </div>
    </section>




    <footer id="footer ">
        <div class="row ">
            <div class="column ">Copywrite</div>
            <div class="column ">Some Nav Links</div>
        </div>
    </footer>
</main>