<main class="container">
    <header id="masthead">

    </header>

    <div class="row">
        <nav>
            <div class="navbar-inner">
                <ul>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#practice">Practice Areas</a></li>
                    <li><a href="#attorneys">Attorneys</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#careers">Careers</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </div>




    {{!--Begin About Section--}}

    <section id="about">

    </section>
</main>